<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapplo.Log" version="1.0.29" targetFramework="net461" />
  <package id="Dapplo.Windows.Common" version="0.5.30" targetFramework="net461" />
  <package id="Dapplo.Windows.Input" version="0.5.30" targetFramework="net461" />
  <package id="Dapplo.Windows.Messages" version="0.5.30" targetFramework="net461" />
  <package id="Dapplo.Windows.User32" version="0.5.30" targetFramework="net461" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net461" />
  <package id="SimpleTCP" version="1.0.20" targetFramework="net461" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
</packages>